@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jua&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", serif;
}

body {
  /* background-color: rgb(129, 129, 129); */
  position: relative;
}

/* CSS HEADER  */

.header {
  width: 100%;
  position: fixed;
  top: 30px;
  left: 0;
}

.inner-header {
  position: relative;
  display: flex;
  background-color: #fff;
  padding: 25px 35px;
  justify-content: space-between;
  border-radius: 55px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.inner-header span {
  /* margin-left: 10px; */
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.7px;
  cursor: pointer;
}

.inner-header span:hover {
  color: #ff589e;
  transition: color ease 0.2s;
}

.inner-header span:nth-child(1) {
  color: #ff589e;
}

.header img {
  height: 33px;
}

.header .right-component {
  display: flex;
  align-items: center;
  width: 73%;
  justify-content: space-between;
}

.header .left-component {
  display: flex;
  align-items: center;
}

.header .hidden-component {
  align-items: center;
  position: absolute;
  right: 30px;
  top: 23.8px;
  color: #4d4d4ddd;
  display: none;
}

.hidden-component i {
  font-size: 35px;
}

/* END CSS HEADER  */

/* CSS BOX-1  */

.box-1 {
  background-image: url(images/back-ground.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: 0px -110px;
}

.box-1 .inner-box-1 h1 {
  text-align: center;
  color: #fff;
  line-height: 1.4;
  letter-spacing: 1px;
}

.box-1 .inner-box-1 p {
  text-align: center;
  color: #fff;
  width: 560px;
  line-height: 2;
  margin-top: 30px;
  margin-bottom: 25px;
}

.box-1 .inner-box-1 button {
  width: 160px;
  height: 40px;
  border: none;
  background-color: #ff589e;
  color: #fff;
  border-radius: 20px;
  font-size: 14px;
}

.box-1 .inner-box-1 button:hover {
  background-color: #8261ee;
  transition: background-color 0.4s ease;
}

.box-1 .inner-box-1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* END CSS BOX-1  */

/* CSS BOX-2  */
.box-2 {
  /* background-color: #e8e8e8; */
  margin-top: -220px;
}

.box-2 .inner-box-2 {
  display: flex;
  padding: 20px 0px;
}

.box-2 .icon-block {
  background-color: #8261ee;
  width: fit-content;
  padding: 22px 18px;
  border-radius: 50%;
}

.box-2 h2 {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.box-2 h3 {
  font-size: 14px;
  color: #777777;
  text-align: center;
  margin: 0;
  line-height: 1.7;
}

.box-2 .item {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 40px;
  border-radius: 23px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.box-2 .item:hover .icon-block {
  background-color: #ff589e;
  transition: background-color ease 0.4s;
}

.box-2 .outer-item {
  padding: 0px 22px;
  margin-bottom: 44px;
}
/* END CSS BOX-2  */

/* CSS BOX-3  */

.box-3 {
  /* background-color: aliceblue; */
}

.box-3 .inner-box-3 {
  padding: 80px 0px;
}

.box-3 .left-block {
  display: flex;
  justify-content: center;
}

.box-3 .right-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-3 img {
  width: 300px;
}

.box-3 .right-block h3 {
  font-size: 16px;
  letter-spacing: 1.2px;
  color: #777777;
  font-weight: 400;
  line-height: 1.8;
}

.box-3 .right-block h2 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 40px;
}
/* END CSS BOX-3  */

/* CSS BOX-4  */

.box-4 {
  /* background-color: rgb(225, 241, 255); */
}

.box-4 .inner-box-4 {
  padding: 80px 0px;
}

.box-4 .right-block {
  display: flex;
  justify-content: center;
}

.box-4 .left-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-4 img {
  width: 300px;
}

.box-4 .left-block h3 {
  font-size: 16px;
  letter-spacing: 1.2px;
  color: #777777;
  font-weight: 400;
  line-height: 1.8;
}

.box-4 .left-block h2 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 40px;
}
/* END CSS BOX-4  */
/* CSS BOX-5  */

.box-5 {
  background: url(images/box-5-2.png);
  background-size: cover;
}

.box-5 .inner-box-5 {
  padding: 130px 0px;
}

.box-5 h1 {
  text-align: center;
  font-size: 28px;
  color: #fff;
  margin-bottom: 30px;
}

.box-5 .info {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.box-5 p {
  text-align: center;
  color: #fff;
}

.box-5 .relative-item {
  background-color: #fff;
  padding: 30px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: -10px;
  bottom: 10px;
  border-radius: 17px;
  cursor: pointer;
}

.box-5 .item:hover {
  transform: translateY(-35px);

  /* background-color: #777777; */
}

.box-5 .item {
  background-color: rgba(236, 236, 236, 0.21);
  border-radius: 17px;
  transition: all 0.3s ease 0s;
}

.box-5 img {
  width: 35px;
}

.box-5 h2 {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

.box-5 h5 {
  font-size: 15px;
  letter-spacing: 0.6px;
  color: #777777;
  margin-bottom: 0;
  text-align: center;
  line-height: 1.5;
}

/* END CSS BOX-5  */
/* CSS BOX-6  */

.box-6 {
  /* background-color: antiquewhite; */
}

.box-6 .inner-box-6 {
  padding: 110px 0px;
}

.box-6 .text-area {
  width: 46%;
  margin-left: auto;
  margin-right: auto;
}

.box-6 h1 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.box-6 h3 {
  font-size: 17px;
  letter-spacing: 1px;
  color: #777777;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 55px;
}

.box-6 .outer-item {
  padding: 0px 18px;
}

.box-6 .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 40px 35px;
  border-radius: 16px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
}

.box-6 img {
  width: 34px;
}

.box-6 p {
  letter-spacing: 0.5px;
  margin-top: 30px;
  color: #777777;
  margin-bottom: 30px;
}

.box-6 .image-1 {
  width: 80px;
  height: 80px;
  background-image: url(images/box-6-mem-1.jpg);
  background-size: cover;
  background-position: -6px 0px;
  border-radius: 50%;
}

.box-6 .image-2 {
  width: 80px;
  height: 80px;
  background-image: url(images/box-6-mem-2.jpg);
  background-size: cover;
  background-position: -6px 0px;
  border-radius: 50%;
}

.box-6 .image-3 {
  width: 80px;
  height: 80px;
  background-image: url(images/box-6-mem-3.jpg);
  background-size: cover;
  background-position: -8px 0px;
  border-radius: 50%;
}

.box-6 .text-infor {
  width: fit-content;
  height: fit-content;
  margin-left: 20px;
}

.box-6 .infor {
  display: flex;
  width: 100%;
  align-items: center;
}

.box-6 h2 {
  font-size: 18px;
  margin-bottom: 10px;
  /* font-weight: 300; */
}

.box-6 h4 {
  margin-bottom: 0;
  font-size: 16px;
  color: #ff589e;
}

/* END CSS BOX-6  */

@media only screen and (max-width: 1199.8px) {
  .header span {
    font-size: 13px;
  }

  .box-2 .item {
    padding: 40px 20px;
  }

  .box-5 .relative-item {
    padding: 30px 23px;
  }

  .box-6 h2 {
    font-size: 16px;
  }

  .box-6 h4 {
    font-size: 14px;
  }

  .box-6 .text-infor {
    margin-left: 18px;
  }
}

@media only screen and (max-width: 991.8px) {
  .header .hidden-component {
    display: flex;
  }

  .header span {
    display: none;
  }

  .box-3 .right-block {
    margin-top: 40px;
  }

  .box-4 .right-block {
    margin-top: 40px;
  }

  .box-5 .relative-item {
    margin-bottom: 25px;
  }

  .box-5 .info {
    margin-bottom: 60px;
  }

  .box-6 h2 {
    font-size: 18px;
  }

  .box-6 h4 {
    font-size: 16px;
  }

  .box-6 .item {
    margin-bottom: 36px;
  }

  .box-6 .text-infor {
    margin-left: 22px;
  }
}

@media only screen and (max-width: 767.9px) {
  .box-1 .inner-box-1 h1 {
    font-size: 25px;
    font-weight: 500;
  }

  .box-1 .inner-box-1 p {
    font-size: 14px;
    width: 94%;
  }

  .box-2 .item {
    padding: 40px 30px;
  }
}

@media only screen and (max-width: 575.9px) {
  .box-2 .outer-item {
    margin-bottom: 26px;
  }
}
